.bg-white {
    background-color: white;
}

.bg-light {
    background-color: $admin-light;
}

.bg-transparent {
    background-color: transparent;
}

.main-shadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: white;
}

.text-gray {
    color: $admin-gray;
}

.text-red {
    color: $admin-red !important;

    &:hover {
        color: $admin-red !important;
    }
}

.font-weight-bold {
    font-weight: 700;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative !important;
}

.h-100 {
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

.rounded-circle {
    border-radius: 50%;
}

.border-none {
    border: 0;
}

.admin-button {
    background-color: $admin-light;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    outline: none;

    i {
        margin-left: 8px;
    }

    &-primary {
        background-color: var(--color-primary);
        color: white !important;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--color-primary-dark);
            color: white !important;
            text-decoration: none;
        }
    }

    &-blue {
        background-color: rgba($admin-blue, 0.9);
        color: white;

        &:hover {
            background-color: $admin-blue;
        }
    }

    &-option {
        background-color: white;

        i {
            font-size: 18px;
            color: rgba($admin-dark, .85);
        }
    }

    &-light {
        background-color: $admin-light;
        color: $admin-dark !important;
    }

    &-cancel {
        &:hover {
            color: $admin-red !important;
        }

        i {
            margin-right: 8px;
            margin-left: 0;
        }
    }
}

@for $n from 0 through 10 {
    .p-#{$n} {
        padding: $n * 4px !important;
    }

    .px-#{$n} {
        padding-left: $n * 4px !important;
        padding-right: $n * 4px !important;
    }

    .pl-#{$n} {
        padding-left: $n * 4px !important;
    }

    .py-#{$n} {
        padding-top: $n * 4px !important;
        padding-bottom: $n * 4px !important;
    }

    .m-#{$n} {
        margin: $n * 4px !important;
    }

    .mt-#{$n} {
        margin-top: $n * 4px !important;
    }

    .mr-#{$n} {
        margin-right: $n * 4px !important;
    }

    .ml-auto {
        margin-left: auto;
    }

    .mb-#{$n} {
        margin-bottom: $n * 4px !important;
    }

    .ml-#{$n} {
        margin-left: $n * 4px !important;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.d-none {
    display: none;
}

.d-md-block {
    @media (min-width: $md) {
        display: block;
    }
}

.admin-title {
    font-size: 16px;
    text-transform: uppercase;
}

.admin-badge {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    padding: .3rem .5rem;
    border-radius: 10rem;
  
    &-primary {
      background-color: var(--color-primary);
      color: white;
    }

    &-blue {
        background-color: $admin-blue;
        color: white;
    }

    &-info {
        background-color: $admin-lightblue;
    }

    i {
        font-size: 12px;
    }
  }

.bg-info {
    background-color: tomato !important;
}

.filter-item {
    margin-right: 8px;
    margin-bottom: 8px;

    button {
        background-color: transparent;
        color: white;
        border: none;
    }
}